body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 25%;
    margin: auto;
    margin-top: 15%;
    padding: 30px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

input{
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}
.search{
    background-color: #333;
    padding: 10px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
}